extends layout

block content
  h1 Books
  div
    p
      a.button(href="/books/new") Create New Book
    form(action="/books/search", method="GET")
      input(type="text", name="searchQuery", placeholder="Search Books")
      button(type="submit", class="search-button") Search

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year

  if totalPages > 1
  div.pagination
    if currentPage > 1
      a(href=`/books?page=${currentPage - 1}&perPage=${perPage}`) Previous 
    span.page-info Page #{currentPage} of #{totalPages}
    if currentPage < totalPages
      a(href=`/books?page=${currentPage + 1}&perPage=${perPage}`)  Next
    ul.page-numbers
      each pageNum in Array(totalPages).keys()
        li.page-number
          a(href=`/books?page=${pageNum + 1}&perPage=${perPage}`, class=pageNum + 1 === currentPage ? 'current' : '') #{pageNum + 1}

